html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
}

.nanum-gothic-regular-20px {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
}

.card {
    width: 15rem;
    float: left;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-block-end: 30px;
    text-align: center;
}

.card-footer {
    background-color: #fff;
}

.btnDetails {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btnDetails:hover {
    background-color: #808080ff;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    height: 45px;
    width: 45px;
}

.content {
    margin-top: 75px;
    position: relative;
    align-items: center;
}

.carousel-image {
    width: 1080px;
    height: 425px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-image {
    width:30px;
    height:30px;
}

.image-spareparts {
    width: 150px;
    height: 150px;
}

/* Ia help with this css */
.login {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.content-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

