@model Category

@{
    ViewData["Title"] = "Edit";
}

<div class="content">
    <h1>@Model.Name</h1>

    <h4>Category</h4>
    <hr />
    <div class="row">
        <div class="col-md">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
				<div class="form-group row mb-3">
					<label asp-for="Name" class="control-label col-2 col-form-label"></label>
					<div class="col-10">
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
				</div>

				<div class="row justify-content-center mt-5">
					<div class="form-group row col-auto">
						<a asp-action="Index" class="btn btn-secondary col-auto me-2"><i class="bi bi-box-arrow-left"></i> Back</a>
						<button type="submit" class="btn btn-warning col-auto"><i class="bi bi-pencil-square"></i> Edit</button>
					</div>
				</div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

