@model SparePart

@{
    ViewData["Title"] = Model.Name;
}

<div class="content">
	<h2>@Model.Name</h2>
	<div class="row">
        <div class="col-4">
			<img src="@Model.Image" class="img"/>

        </div>
        <div class="row col ms-3 align-top">
            <div>
				<h2>@Model.Name</h2>

            </div>
            
            <hr/>

            <p>@Model.Description</p>
        </div>
    </div>
</div>