@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    ViewData["Title"] = "Contact";
}

<div class="content">
    <div class="contact-container">
        <h1>Contact us</h1>

        <div class="main-text">
            We are located 2 blocks from Carolina between Eloy Alfaro and Shyris, we make deliveries to the entire country for an additional cost.
            Contact us at the following email or WhatsApp by clicking the button below.
            <a href="sps@gmail.com">sps@gmail.cc</a>
        </div>
        <br />
        <div class="branch-info">
            <h2>Carolina</h2>
            <div class="service-type">Punto de entrega para compras por Internet.</div>
            <div class="address-info">Eloy Alfaro E7-76 y Av. Shyris, Sector La Carolina.</div>
            <div class="schedule-info">Our schedule: 06:00 – 19:00. Saturday 09:00 – 14:00.</div>
            <div class="phone-info">Cell Phone Number: <a href="tel:0999999">0999999999</a></div>
        </div>
    </div>

    <a href="https://wa.me/593995854703" class="whatsapp-button" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/2062095_application_chat_communication_logo_whatsapp_icon.svg/2048px-2062095_application_chat_communication_logo_whatsapp_icon.svg.png" alt="WhatsApp">
    </a>
</div>

