@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<SPSModels.Models.SparePart>

<div class="content">
    <div class="text-center">
        <h1 class="display-4">Welcome to SpareParts Store</h1>
        <p class="nanum-gothic-regular">SEE OUR CATALOG</p>

        <div class="card-header">
            <img src="https://static3.therichestimages.com/wordpress/wp-content/uploads/2015/11/1622053-4961x3307-2013-Mercedes-Benz-Vision-Gran-Turismo-concept-e1446483647459.jpg" class="card-img-top" alt="...">
        </div>

        <div class="container text-center">
            <div class="row row-cols-auto">
                @if (Model != null && Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <div class="card">
                            <div class="card-body">
                                <header>Code: @Html.DisplayFor(modelItem => item.Id) </header>
                                <header>Name: @Html.DisplayFor(modelItem => item.Name)</header>
                                <header>Category: @Html.DisplayFor(modelItem => item.Category.Name)</header>
                            </div>
                            <div class="card-footer">
                                <a href="~/SpareParts/Details/@item.Id" class="btnDetails">Ver más</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="card">
                        <p>The stock is empty.</p>
                    </div>
                    <div class="card">
                        <p>The stock is empty.</p>
                    </div>
                    <div class="card">
                        <p>The stock is empty.</p>
                    </div>
                    <div class="card">
                        <p>The stock is empty.</p>
                    </div>
                }
            </div>
        </div>

    </div>

</div>
